// Custom Variables for Theme
$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$fa-font-path: 'fonts/font-awesome';
$primary: #00529b;
$secondary: #669933;
$navbar-light-color: $primary;
$navbar-padding-y: 0.5rem;
$navbar-nav-link-padding-x: 0.75rem;
$body-bg: #f3f3f3;